/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  Reset Perso */
*,*:after,*:before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clear:before,.clear:after {
	content:' ';display: table;
}
.clear:after {
	clear: both;
}
.clear {
	*zoom:1;
}
/* CSS du site */

/* footer par Younès */

#footer {
	display: flex;
	align-items: center;
	background-color: #76D9F7;
	width: 1519.2px;
	height: 130.2px;
}

#footer .copyright {
	margin-left: 550px;
	font-weight: bolder;
}

#footer a{
	color: white;
	text-decoration: none;
}

#footer a:hover{
	text-decoration: underline;
	font-weight: bolder;
}

/* BODY ACCUEIL par Younès*/
/* image de fond de l'accueil */
.home-bg { 
	display: flex;
	max-width: 1519px;
	position: relative;
	z-index: -1;
}

/* HEADER par Cyril*/

.headernav  {
	background-color: #EFFBFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 83px

}
.headernav ul  {
	display: flex;
	justify-content: flex-end;

}
.logo p {
	display: flex;
}

.headernav nav ul li a {
	background-color: #EFFBFF;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 60px;
	border-radius: 10px;


}
.menunav  nav ul li a:hover, #header nav ul li a.active {
  background-color: #BFFBFF;
}

/* FORMULAIRES par Younès */

/* LOGIN FORMULAIRE par Younès */

#loginform {
	display: flex;
	justify-content: right;
	padding: 20px 0 150px;
	flex-direction: column;
	color: black;
	font-weight: bold;
	overflow: hidden;
	position: absolute;
	text-align: right;
	flex: 1;
	right: 11.5%;
	border-radius: 10%;
	margin-top: 10px;
	background-color: lightblue;
}

#loginform .logintitle {
	text-align: center;
}

#loginform .logintitle h2 {
	font-size: 1rem;
	margin-bottom: 5px;
	text-decoration: underline;
}

#loginform .loginfields {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#loginform .loginfields {
	display: flex;
	justify-content: space-between;
}

#loginform .loginfields input {
	flex: 1;
	max-width: 48%;
	margin: 10px 0;
	padding: 15px;
	font-family: 'bebas_neueregular', cursive;
	font-weight: 300;
	font-size: 18px;
	border-radius: 4px;
	border: solid rgba(0, 0, 0, .5) 1px;
}

#loginform .loginfields input[type="submit"] {
	background-color: red;
	color: white;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all .2s;
	font-family: 'alfa_slab_oneregular', cursive;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
}

#loginform .loginfields input[type="submit"]:hover {
	background-color: brown;
	color: white;
} 


/* SIGNUP FORMULAIRE par Younès */

#signupform	 {
	display: flex;
	justify-content: right;
	padding: 20px 0 84px;
	flex-direction: column;
	color: black;
	font-weight: bold;
	overflow: hidden;
	position: absolute;
	text-align: right;
	flex: 1;
	right: 0%;
	margin-top: 10px;
	background-color: lightblue;
	border-radius: 10%;
}

#signupform .signuptitle {
	text-align: center;
}

#signupform .signuptitle h2 {
	font-size: 1rem;
	margin-bottom: 5px;
	font-weight: bold;
	text-decoration: underline;
}

#signupform .signupfields {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#signupform .signupfields {
	display: flex;
	justify-content: space-between;
}

#signupform .signupfields input {
	flex: 1;
	max-width: 48%;
	margin: 10px 0;
	padding: 15px;
	font-family: 'bebas_neueregular', cursive;
	font-weight: 300;
	font-size: 18px;
	border-radius: 4px;
	border: solid rgba(0, 0, 0, .5) 1px;
	background-color: #ffb042;
}

#signupform .signupfields input[type="submit"] {
	background-color: red;
	color: white;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all .2s;
	font-family: 'alfa_slab_oneregular', cursive;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
}

#signupform .signupfields input[type="submit"]:hover {
	background-color: brown;
	color: white;
}