/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  Reset Perso */
*,*:after,*:before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clear:before,.clear:after {
	content:' ';display: table;
}
.clear:after {
	clear: both;
}
.clear {
	*zoom:1;
}

/* Fonts du site */
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* HEADER par Cyril*/

.headernav  {
	background-color: #EFFBFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 83px;
	width: 100%;
}

.headernav ul  {
	display: flex;
	justify-content: flex-end;
}
.logotitre {
	display: flex;
	align-items: center;
	width: 40%
}
.titrenav h1 {
	font-family: 'montserratregular', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.5vw;
}
.logo {
	width: 36%
}
.logo img {
	width: 58%;
}
.headernav nav ul li a {
	background-color: #EFFBFF;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 20px;
	width: 100%;
	border-radius: 10px;
	font-family: 'montserratregular', sans-serif;
	font-weight: bold;

}
.menunav {
		width: 100%
}
.menunav  nav ul li a:hover, #header nav ul li a.active {
  background-color: #BFFBFF;
}

/* BODY ACCUEIL par Younès*/
.wrapacceuil {
	background: url(../img/accueil-bg.png);
	background-size: cover;
  background-position: center;
	height: 800px;
	display: flex;
	flex-flow: column;
}

.details {
	font-family: 'montserratregular', sans-serif;
	text-align: center;
  font-weight: bold;
  height: fit-content;
  background-color: lightblue;
  padding: 15px;
  border-radius: 10px 30px;
  line-height: 1.3;
	position: relative;
	top: 17%;
	margin-left: 0.8%;
	width: 50%;

	width: fit-content;
	font-size: 1vw;
}
.form {
background: url(../img/forms-bg.jpeg);
background-size: cover;
background-position: center;
position: relative;
height: fit-content;
border-radius: 10%;
top: 10%;
display: flex;
/* justify-content: space-around; */
width: 40%;
padding: 2%;
margin-right: 2%;
right:-58%;
}
.loginputs {
	margin-bottom: 24px;
}
.formconnexion{
	display: flex;
	flex-flow: column;
	width: 50%;
	justify-content: center;
	margin-right: 2%;
}
.link {
	margin-top: 10px;
	display: flex;
	flex-flow: column;
	background-color: white;
	opacity: 0.8;
	align-items: center;
	border-radius: 20px;
	font-weight: bold;

}
.link a {
	display: flex;
	color: black;
	text-decoration: none;
	line-height: 1.5;
}
.link a:hover {
	color: red;
}
.forminscription{
width: 50%;
margin-left: 2%;
display: flex;
flex-flow: column;
}
.succes{
	color: cyan;
	font-weight: bold;
	margin-left: 30px;
}
.loginputs input {
	border-radius: 5px 5px;
	padding: 6px;
	width: 100%;

}

.loginputs input::placeholder {
	font-family: 'montserratregular', sans-serif;
}

.signupinputs {
	margin-bottom: 15px;
}

.signupinputs input {
	border-radius: 5px 5px;
	padding: 6px;
	width: 100%;
}

.signupinputs input::placeholder {
	font-family: 'montserratregular', sans-serif;
}

label{display: block;}
.error{font-size: 1em;color:red;display: block;}

.formtitle {
text-align: center;
border-radius: 20px;
display: flex;
FLEX-DIRECTION: column;
MARGIN-BOTTOM: 5%;
background-color: white;
width: 50%;
align-self:center;

}

.formtitle h2 {
	font-size: 1rem;
	font-weight: bold;
	padding: 6px;
	font-family: 'montserratregular', sans-serif;

}

.formbtn input {
	background-color: skyblue;
	/* margin-right: 50px; */
	font-family: 'montserratregular', sans-serif;
	font-weight: bold;
	border-radius: 20px 20px;

}

.formbtn {
	display: flex;
	justify-content: center;
}

.formbtn :hover {
	color: white;
}
/* FOOTER par Younès */

#footer {
	display: flex;
	align-items: center;
	background-color: #76D9F7;
	width: 100%;
	justify-content: center;
	height: 130.2px;

}

#footer .copyright {
	font-family: 'montserratregular', sans-serif;
	font-weight: bolder;
}

#footer a{
	color: white;
	text-decoration: none;
	font-family: 'montserratregular', sans-serif;
}

#footer a:hover{
	text-decoration: underline;
	font-weight: bolder;
}

/* PAGE PROFIL par Younès */
.vaccinform {
    flex: 1 1 auto;
    min-height: 1px;
	padding: 1rem;
	position: relative;
    display: flex;
    flex-direction: column;
	min-width: 0;
	width: fit-content;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.bienvenue {
	text-align: center;
	font-size: 1.3em;
}

p {
	text-align: center;
}

.logout:hover{
	background-color: red;
	opacity: 0.5;
}

.bodyprofil a {
	background-color: skyblue;
	text-decoration: none;
	border: 1px solid black;
	color: black;
	padding: 0.3%;
	font-family: 'montserratregular', sans-serif;
	border-radius: 20px 20px;
	line-height: 2.5;
}

.bodyprofil a:hover {
opacity: 0.8;
}

.bodyprofil {
	line-height: 2;
	margin-left: 2%;
}

/* PAGE CONTACT par Cyril*/
body {
	background-color: #F0F0F0;
	width: 100%;
	font-family: 'montserratregular',  sans-serif;
}
.wrap {
	display: flex;
	align-items: center;
	flex-direction: row;

}
.bodycontact {
	width: 50%;
	display: flex;

}

.contact {
	font-size: 3em;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.box1 img {
width: 100%;
padding-top: 14px;
}

.box1 {
position: relative;
	height: 100%;
	width: 75%;
	padding: 50px;
 }

.bodycontact2 {
	width: 40%;
	display: flex;
}
.equipe {
	position: relative;
height: 25%;
line-height: 2.5;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
}
.equipe img {
	margin-right: 30px;
	height: 180px;
	border-radius: 30px;
}
.equipe p {
	font-style: italic;
}
.equipe h2   {
	font-weight: bold;
	font-size: 2.5em;
}
.bigbox {
	display: flex;
}

/* PAGE MENTIONS LEGALES par Younès */

.mentionbody {
	background-color: lightgray;
}

.mentiontitle {
	font-family: 'montserratregular', sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.mention{
	font-family: 'montserratregular', sans-serif;
	text-align: center;
	line-height: 1.2;
}


/* RESPONSIVE CONTACT */


@media screen and (max-width:	980px )
{
 .wrap {
	display: flex;
	flex-direction: column;
	}
	.bigbox {
		display: flex;
		flex-direction: column;
	}
	.bodycontact2 {
		width: 50%;
		height: 25%;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
	}
	.box1 {
		height: 50%;
		width: 100%;
	}
	.box1 img {
		width: 100%;
	}

}
@media screen and (max-width:	600px )
{
	.headernav {
		display: flex;
		flex-direction: column;
	}
	.menunav  ul li a {
		display: flex;
		flex-direction: column;
	}
	.minibox1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
/* RESPONSIVE ACCUEIL */

  @media screen and (max-width:	1400px )
{

	.form {

		padding: 20px;
		height: fit-content;
	}
	.details{
		font-size: 1.3vw;
	}


}
  @media screen and (max-width:	1000px )
{
	.link a {
		font-size: 1.5vw;
	}
	.details{
		font-size: 1.5vw;
	}
}
  @media screen and (max-width:	900px )
{

	.form {
		display: flex;
		flex-direction: column;
		padding: 20px;
		height: fit-content;
		right: 0%;
		top:2%;
		width: 70%
	}
	.forminscription{
		width: 100%;
	}
	.formconnexion{
		width: 100%;
	}

	.details{
		font-size: 2vh;
		width: 70%;
		top:4%
	}
	.wrapacceuil{
		flex-flow: column;
		align-items: center;
		height: 975px;
	}
	.link a {
		font-size: 2.5vw;
	}
	.link{
		margin-bottom: 10px;
	}
}
  @media screen and (max-width:	600px )
{

	.form {

		width: 100%;
	}

	.details{
		font-size: 2vh;
		width: 100%;

	}
	.wrapacceuil{
		flex-flow: column;
		align-items: center;

	}
	.link a {
		font-size: 3vw;
	}

}
  @media screen and (max-width:	400px )
{

	.form {

		width: 100%;

	}

	.details{
		font-size: 2.3vh;
		width: 100%;

	}
	.wrapacceuil{
		flex-flow: column;
		align-items: center;
		height: 1050px;
	}

}
@media screen and (max-height:	700px )
{
	.wrapacceuil{
		height: 1000px;

	}
}
  @media screen and (max-height:	600px )
{
	.menunav {

	}

}
